* {
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-o-user-select: none !important;
	user-select: none !important;  
}
h4 {
    font: 20px sans-serif;
    margin-top: 30px;
    text-align: center;
    //text-transform: uppercase;
    color: #21252991;
}

h4.background {
    position: relative;
    z-index: 1;

    &:before {
        border-top: 2px solid #dfdfdf;
        content: "";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 95%;
        z-index: -1;
    }

    span {
        /* to hide the lines from behind the text, you have to set the background color the same as the container */
        background: #fff;
        padding: 0 15px;
    }
}
mat-tab{
    overflow: hidden !important;
}